Package: com.yourcompany.wechathidediscover
Name: wechathidediscover
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: wuxueying
Author: wuxueying
Section: Tweaks
