Package: com.yourcompany.wechathidediscover
Name: wechathidediscover
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: wuxueying
Author: wuxueying
Section: Tweaks
Version: 0.0.1-62+debug
Installed-Size: 56
